*{
    margin: 0;
    padding: 0;
}
ion-icon{
    color: red;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7));
    background-image: url(wallpaperflare.com_wallpaper\ \(10\).jpg);
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
.header nav{
    color: black;
}
ul{
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}
ul li{
    margin-left: 60px;
    color: black;
    list-style: none;
    margin-top: 25px;
}
ul li a{
    text-decoration: none;
    color: red;
}
.nav-links ul li a:hover{
    color: white;
    transition: 2s ease;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
h1{
    text-align: center;
    color: #fff;
    font-size: larger;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: underline;
}
.ctn{
    color: white;
    font-size: medium;
    font-weight: lighter;
    text-align: left;
    margin-top: 30px;
    margin-left: 10px;
}
.ctn h2{
    text-decoration: underline;
    color: red;
}
.fom{
    margin-top: 20px;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background-color: black;
}
label{
    color: red;
}
.footer{
    min-height: 100vh;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer p{
    font-weight: 300px;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600px;
}

