*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-image: url(wallpaperflare.com_wallpaper\ \(1\).jpg);
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
.header nav{
    color: black;
}
ul{
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
}
ul li{
    margin-left: 60px;
    color:black;
    list-style: none;
    margin-top: 25px;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
ul li a:hover{
    color: red;
    transition: 2s ease;

}
ul li a:active{
    color: black;
    transition: 2s ease;
}
h1{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: white;
}
button{
    top: 56%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    background-color: red;
    font-size: x-large;
    font-weight: lighter;
}